.container
  %footer.footer
    %small
      Copyright ©
      %a{:href => "https://www.castlighthealth.com/", :target => "_blank"} Castlight Health
      by
      %a{:href => "https://github.com/syahmeds", :target => "_blank"} Ahmed Syed
    %nav
      %ul
        %li= link_to "About", about_path
