<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="https://gitlab.castlighthealth.com/revenge_twitter/revenge_twitter">Revenge Twitter Bootcamp</a>
      by <a href="https://github.com/syahmeds">Ahmed Syed</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>