<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="https://www.castlighthealth.com/" target="_blank">Castlight Health</a>
      by <a href="https://github.com/syahmeds" target="_blank">Ahmed Syed</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>